---
// src/pages/portfolio/tags/[slug].astro
import Layout from "../../../layouts/Layout.astro";
import BannerTitle from "../../../components/BannerTitle.astro";
import PostPreview from "../../../components/PostPreview.astro";
import client from "../../../lib/apolloClient";
import { getAllResults } from "../../../lib/fetchAllResults";
import { isEnabled } from '../../../lib/enabledFeatures';
import {
    GET_PORTFOLIOS_BY_TAG,
    GET_PORTFOLIO_CATEGORIES,
    GET_TEMPLATE,
} from "../../../lib/queries";

export async function getStaticPaths() {
  const portfolioEnabled = await isEnabled('portfolios');

  if (!portfolioEnabled) {
    console.log('Portfolio is not enabled');
    return [];
  }

  try {
    const tags = await getAllResults(GET_PORTFOLIO_CATEGORIES);

    const paths = tags.map((page) => ({
      params: { slug: page.slug },
      props: { page }
    }));

    console.log('Generated paths:', paths.map(p => p.params.slug));

    return paths;
  } catch (error) {
    console.error('Error fetching tags:', error);
    return [];
  }
}

console.log('Astro.params', Astro.params);
const { slug } = Astro.params;

const [templateData, portfolioData] = await Promise.all([
  client.query({
    query: GET_TEMPLATE,
    variables: { slug: "tags" },
  }),
  client.query({
    query: GET_PORTFOLIOS_BY_TAG,
    variables: { slug },
  })
]);

const page = templateData.data.templateBy;
const data = portfolioData.data;

const posts = data?.portfolioCategory?.portfolios?.nodes;
const tagName = data?.portfolioCategory?.name;
const tagDescription = data?.portfolioCategory?.description;
const classList = 'tag tag-' + tagName.toLowerCase().replace(" ", "-");
const title = tagName || page?.title;

if (!posts || posts.length === 0) {
  console.log(`No posts found for tag ${slug}`);
}

if (!posts) {
  return {
    status: 404,
    error: new Error(`No posts found for tag ${slug}`),
  };
}

---

<Layout title={title} description={page?.metaDescription} classes={classList} >
  <BannerTitle
    title={title}
    subtitle={page?.subtitle}
    image={page?.bannerImage?.sourceUrl}
    width={page?.bannerImage?.mediaDetails.width}
    height={page?.bannerImage?.mediaDetails.height}
    crumbs={[{ label: "Portfolio", path: "/portfolio/"}, { label: "Tag" }, { label: title }]}
  />
  { tagDescription && <div class="container tag-description" set:html={tagDescription} /> }
  <div class="main-body">
    <div class="category">
      {
        posts.map((post) => (
          <PostPreview key={post.databaseId} post={post} path="portfolio" classes="post-preview" />
        ))
      }
    </div>
  </div>
</Layout>
