---
// same as src/pages/blog/[slug].astro
import client from '../../lib/apolloClient';
import { GET_POST, GET_ALL_POSTS } from '../../lib/queries';
import Layout from '../../layouts/Layout.astro';
import BannerTitle from '../../components/BannerTitle.astro';
import TagLinks from '../../components/TagLinks.astro';
import VideoPlayer from "../../components/VideoPlayer.astro";
import RelatedPosts from '../../components/RelatedPosts.astro';
import FeaturedImage from '../../components/FeaturedImage.astro';
import { replaceImageUrls } from '../../lib/utils';
import { getAllResults } from '../../lib/fetchAllResults';

const mainBodyTitle = import.meta.env.MAIN_BODY_TITLE;

export async function getStaticPaths() {
  const postAlias = import.meta.env.POST_ALIAS;
  if (postAlias !== 'articles') {
    return [];
  }
  const allPosts = await getAllResults(GET_ALL_POSTS);
  return allPosts.map(page => ({
    params: { slug: page?.slug },
    props: { page },
  }));
}

const { slug } = Astro.params;

const { data } = await client.query({
    query: GET_POST,
    variables: { slug },
  });

const page = data.postBy;

if (!page) {
  throw new Error(`Post not found for slug: ${slug}`);
}

const featuredImage = page?.featuredImage?.node;

// Process content and image concurrently
const updatedContent = await replaceImageUrls(page?.content).catch(error => {
  console.error('Error replacing image URLs:', error);
  return ''; // Return empty string on error
});

const titleTag = page?.metaTitle || page?.title;
---

<Layout pageId={page?.databaseId} title={titleTag} description={page?.metaDescription} classes="post">
  <BannerTitle
    title={page?.title}
    subtitle={page?.subtitle}
    image={page?.bannerImage?.sourceUrl}
    width={page?.bannerImage?.mediaDetails?.width}
    height={page?.bannerImage?.mediaDetails?.height}
    crumbs={[{ label: 'Articles', path: '/articles/'}, { label: page?.title }]}
  />
  <div class="main-body">
    <FeaturedImage imageSourceUrl={featuredImage?.sourceUrl} imageAltText={featuredImage?.altText} />
    { mainBodyTitle && <h1 class="title-main">{page?.title}</h1> }
    <div set:html={updatedContent} />
    { page?.videoUrl && <VideoPlayer url={page?.videoUrl} title={page?.title} /> }
    <TagLinks tags={page?.tags} />
    <RelatedPosts relatedPosts={page?.relatedPosts} />
  </div>
</Layout>
