---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import BannerTitle from "../../components/BannerTitle.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import PostPreview from "../../components/PostPreview.astro";
import client from "../../lib/apolloClient";
import {
  GET_POSTS_BY_CATEGORY,
  GET_CATEGORIES,
  GET_TEMPLATE,
} from "../../lib/queries";

export async function getStaticPaths() {
  const { data } = await client.query({
    query: GET_CATEGORIES,
    variables: { first: 200 },
  });

  return data.categories.nodes.map((page) => ({
    params: { slug: page.slug },
    props: { page },
  }));
}

const { data: templateData } = await client.query({
  query: GET_TEMPLATE,
  variables: { slug: "category" },
});

const { slug } = Astro.params;

const { data } = await client.query({
    query: GET_POSTS_BY_CATEGORY,
    variables: { slug },
});

const page = templateData?.templateBy;
const posts = data?.category?.posts?.nodes;
const categoryName = data?.category?.name;
const classes = `category category-${categoryName.toLowerCase().replace(" ", "-")}`;
const title = page?.title || `${categoryName}`;
---

<Layout title={title} description={page?.metaDescription} templateId={page?.databaseId} classes={classes}>
  <Breadcrumb crumbs={[{ label: "Category", path: "/category" }, { label: title }]} />
  <BannerTitle
    title={title}
    subtitle={page?.subtitle}
    image={page?.bannerImage?.sourceUrl}
    width={page?.bannerImage?.mediaDetails.width}
    height={page?.bannerImage?.mediaDetails.height}
  />
  <div class="container main-body">
    {page?.content && <div class="content" set:html={page?.content} />}

    <div class="category">
      { posts.map((post) => (
        <PostPreview post={post} key={post.databaseId} path="articles" />
      ))
      }
    </div>
  </div>
</Layout>
