---
// same as src/pages/articles/[slug].astro
import client from '../../lib/apolloClient';
import { GET_POST, GET_ALL_POSTS } from '../../lib/queries';
import Layout from '../../layouts/Layout.astro';
import BannerTitle from '../../components/BannerTitle.astro';
import TagLinks from '../../components/TagLinks.astro';
import RelatedPosts from '../../components/RelatedPosts.astro';
import { replaceImageUrls } from '../../lib/utils';
import { Image } from 'astro:assets';
import { getImages } from '../../lib/utils';
import { getAllResults } from '../../lib/fetchAllResults';

export async function getStaticPaths() {
  const postAlias = import.meta.env.POST_ALIAS;
  if (postAlias !== 'blog') {
    return [];
  }
  const allPosts = await getAllResults(GET_ALL_POSTS);
  return allPosts.map(page => ({
    params: { slug: page?.slug },
    props: { page },
  }));
}

const { slug } = Astro.params;

const { data } = await client.query({
    query: GET_POST,
    variables: { slug },
  });

const page = data.postBy;
const featuredImage = page?.featuredImage?.node;

if (!page) {
  throw new Error(`Post not found for slug: ${slug}`);
}

let updatedContent = '';
try {
  updatedContent = await replaceImageUrls(page?.content);
} catch (error) {
  console.error('Error replacing image URLs:', error);
}

const featuredImageSourceUrl = featuredImage?.sourceUrl;
let localImage = null;
if (featuredImageSourceUrl) {
  localImage = await getImages('featured', featuredImageSourceUrl);
}

const srcset = localImage
  ? `${localImage.default.src} 1x`
  : '';

const titleTag = page?.metaTitle || page?.title;

---

<Layout pageId={page?.databaseId} title={titleTag} description={page?.metaDescription} classes="post">
  <BannerTitle
    title={page?.title}
    subtitle={page?.subtitle}
    image={page?.bannerImage?.sourceUrl}
    width={page?.bannerImage?.mediaDetails?.width}
    height={page?.bannerImage?.mediaDetails?.height}
    crumbs={[{ label: 'Articles', path: '/articles/'}, { label: page?.title }]}
  />
  <div class="main-body">
    {localImage && !page?.bannerImage?.sourceUrl && (
      <Image
        src={localImage.default}
        srcset={srcset}
        alt={`Featured image for ${page?.title}`}
        class="featured-image"
        loading="eager"
      />
    )}
    <div set:html={updatedContent} />
    <TagLinks tags={page?.tags} />
    <RelatedPosts relatedPosts={page?.relatedPosts} />
  </div>
</Layout>
