---
import Layout from "../../layouts/Layout.astro";
import BannerTitle from "../../components/BannerTitle.astro";
import VideoPlayer from "../../components/VideoPlayer.astro";
import client from '../../lib/apolloClient';
import { GET_VIDEO_SLUGS, GET_VIDEO } from "../../lib/queries";

export async function getStaticPaths() {
  const { data } = await client.query({
    query: GET_VIDEO_SLUGS,
  });

  return data.videos.nodes.map((video) => ({
    params: { slug: video.slug },
  }));
}

const { slug } = Astro.params;
const { data } = await client.query({
  query: GET_VIDEO,
  variables: { slug },
  fetchPolicy: 'cache-first',
});

const video = data.videoBy;
const titleTag = video?.metaTitle || video?.title;
---

<Layout title={titleTag} postId={video?.databaseId} classes="video" description={video?.metaDescription} classes="video">
  <BannerTitle
    title={video?.title}
    subtitle={video?.subtitle}
    crumbs={[{ label: "Videos", path: "/videos/" }, { label: video?.title }]}
  />
  <div class="main-body">
    <VideoPlayer url={video?.videoUrl} title={video?.title} />
    {video?.content && <div class="video-content" set:html={video?.content} />}
  </div>
</Layout>
