---
import Layout from "../../layouts/Layout.astro";
import BannerTitle from "../../components/BannerTitle.astro";
import PostPreview from "../../components/PostPreview.astro";
import client from "../../lib/apolloClient";
import { getAllResults } from "../../lib/fetchAllResults";

import {
  GET_POSTS_BY_TAG,
  GET_TAGS,
  GET_TEMPLATE,
} from "../../lib/queries";

export async function getStaticPaths() {
  const tags = await getAllResults(GET_TAGS);
  const tagsFilted = tags.filter((tag) => tag.posts.nodes.length > 0);

  return tagsFilted.map((page) => ({
    params: { slug: page.slug },
    props: { page }
  }));
}

const { data: templateData } = await client.query({
  query: GET_TEMPLATE,
  variables: { slug: "tags" },
});

const { slug } = Astro.params;

const { data } = await client.query({
    query: GET_POSTS_BY_TAG,
    variables: { slug },
});

const page = templateData.templateBy;

const posts = data?.tag?.posts?.nodes;
const tagName = data?.tag?.name;
const tagDescription = data?.tag?.description;
const tagId = data?.tag?.databaseId;
const classList = 'tag tag-' + tagName.toLowerCase().replace(" ", "-");
const title = page?.title || tagName;

if (!posts) {
  return {
    status: 404,
    error: new Error(`No posts found for tag ${slug}`),
  };
}

---

<Layout title={title} description={page?.metaDescription} classes={classList} tagId={tagId}>
  <BannerTitle
    title={title}
    subtitle={page?.subtitle}
    image={page?.bannerImage?.sourceUrl}
    width={page?.bannerImage?.mediaDetails.width}
    height={page?.bannerImage?.mediaDetails.height}
    crumbs={[{ label: "Tag", path: "/tags" }, { label: title }]}
  />
  {tagDescription && <div class="container tag-description">{tagDescription}</div>}
  {page?.content && <div class="container" set:html={page?.content} />}
  <div class="main-body">
    <div class="category">
      {
        posts.map((post) => (
          <PostPreview key={post.databaseId} post={post} classes="post-preview" />
        ))
      }
    </div>
  </div>
</Layout>
