---
// /pages/404.astro
import Layout from '../layouts/Layout.astro';
import BannerTitle from '../components/BannerTitle.astro';
import Search from "astro-pagefind/components/Search";
import { GET_TEMPLATE } from '../lib/queries';
import client from '../lib/apolloClient';

const { data } = await client.query({
  query: GET_TEMPLATE,
  variables: { slug: '404' },
});

const template = data?.templateBy;

const title = template?.title || "Page Not Found";
const subtitle = template?.subtitle || "";
const description = template?.content || `<div>The page you are looking for does not exist.</div> <div class="mt-6 mb-6 text-center"><a href="/">Go back to the homepage</a></div>`;
const metaDescription = template?.metaDescription || description.replace(/<[^>]*>?/gm, '');
---

<Layout title={title} description={metaDescription} classes="page-404">
    <BannerTitle
      title={title}
      subtitle={subtitle}
    />
  <div class="main-body">
    <div class="mb-10 text-center"><i class="icon-error"></i></div>
    <div class="mt-6 text-center" set:html={description} />
    <div class="max-w-md mx-auto mt-6">
        <Search id="search" class="pagefind-ui" />
    </div>
  </div>
</Layout>
