---
import Layout from "../layouts/Layout.astro";
import BannerTitle from "../components/BannerTitle.astro";
import client from '../lib/apolloClient';
import { GET_CATEGORIES, GET_TEMPLATE } from '../lib/queries';

const { data: templateData } = await client.query({
  query: GET_TEMPLATE,
  variables: { slug: 'category' }
});
const { data: categoryData } = await client.query({
  query: GET_CATEGORIES,
  variables: { first: 100 }
});

const page = templateData.templateBy;
let categories = categoryData?.categories?.nodes;
categories = categories.filter((category) => category.name !== 'Uncategorized');

if (!categories || categories.length === 0) {
  return Astro.redirect('/404', '404');
}

const title = page?.title || `Categories`;

---

<Layout title={title} description={page?.metaDescription} templateId={page?.databaseId} classes="category-list">
  <BannerTitle
    title={title}
    subtitle={page?.subtitle}
    image={page?.bannerImage?.sourceUrl}
    width={page?.bannerImage?.mediaDetails.width}
    height={page?.bannerImage?.mediaDetails.height}
    crumbs={[{ label: title }]}
  />
  {page?.content && ( <div class="container content" set:html={page?.content} /> )}
  <div class="main-body">
    <ul class="category">
      {categories.map((category) => (
        <li>
          <a href={`/category/${category.slug}/`} class="no-underline">{category.name} {category.count > 0 && ( <span class="count">({category.count})</span> )}</a>
        </li>
      ))}
    </ul>
  </div>
</Layout>