---
import Layout from '../layouts/Layout.astro';
import Seo from '../components/Seo.astro';
import BannerTitle from '../components/BannerTitle.astro';
import EventList from '../components/EventList.astro';
import client from '../lib/apolloClient';
import { GET_TEMPLATE } from '../lib/queries';

const { data: templateData } = await client.query({
  query: GET_TEMPLATE,
  variables: { slug: "events-list" },
});

const page = templateData?.templateBy;
const title = page?.title || "Event Calendar";

---

<Layout title={title} description={page?.metaDescription} templateId={page?.templateId} classes="event-list">
  <Seo title={title} />
  <BannerTitle
    title={title}
    crumbs={[{ label: title }]}
  />
  <EventList />
  <div class="mt-4 text-lg text-center">
    <a href="/events/">Month View</a>
  </div>
</Layout>
