---
import Layout from '../layouts/Layout.astro';
import BannerTitle from '../components/BannerTitle.astro';
import client from '../lib/apolloClient';
import { replaceImageUrls, replaceIconShortcode, replaceShortCodes } from '../lib/utils';
import { GET_HOME_PAGE, GET_PAGE } from '../lib/queries';

// Try to import ComponentSite using import.meta.glob
const components = import.meta.glob('../componentsSite/index.astro');
let ComponentSite = null;
let componentSiteExists = false;

if (components['../componentsSite/index.astro']) {
  try {
    ComponentSite = (await components['../componentsSite/index.astro']() as { default: any }).default;
    componentSiteExists = true;
  } catch (error) {}
}

// Fetch front page
const frontPages = await client.query({
  query: GET_HOME_PAGE,
  variables: { first: 200 },
});

const frontPage = frontPages.data.pages.nodes.filter((page) => page.isFrontPage);

if (frontPage.length === 0) {
  throw new Error('No front page found');
}

const pageData = await client.query({
  query: GET_PAGE,
  variables: { uri: frontPage[0].uri },
});

if (!pageData?.data?.pageBy) {
  throw new Error('No page data found uri: ' + frontPage[0].uri);
}

const {
  title,
  subtitle,
  content,
  bannerImage,
  metaDescription,
  databaseId
} = pageData?.data?.pageBy;

let updatedContent = content ? await replaceImageUrls(content) : '';
updatedContent = replaceIconShortcode(updatedContent);
updatedContent = await replaceShortCodes(updatedContent);
---

<Layout title={title} subtitle={subtitle} classes="front" pageId={databaseId} description={metaDescription}>
  <BannerTitle
    title={title}
    subtitle={subtitle}
    image={bannerImage?.sourceUrl}
    width={bannerImage?.mediaDetails?.width}
    height={bannerImage?.mediaDetails?.height}
  />
  <div class="main-body">
    {componentSiteExists
      ? <ComponentSite content={updatedContent} />
      : <div class="content" set:html={updatedContent}></div>
    }
  </div>
</Layout>
