---
import Layout from '../layouts/Layout.astro';
import Seo from '../components/Seo.astro';
import BannerTitle from '../components/BannerTitle.astro';
import client from '../lib/apolloClient';
import { replaceImageUrls } from '../lib/utils';
import { GET_PAGE_DATA } from '../lib/queries';

// Fetch data using Apollo Client
const response = await client.query({
  query: GET_PAGE_DATA,
  variables: { uri: '/index/' },
});

// Extract data
const { data, error, loading } = response;

const page = data.pageBy;

const {
  title,
  subtitle,
  content,
  bannerImage,
  metaDescription,
  databaseId
} = page;

const updatedContent = await replaceImageUrls(content);

---

<html>
  <head>
    <Seo title={title} description={metaDescription} />
  </head>
  <body class="front">
    <Layout title={title} subtitle={subtitle} classes="front" pageId={databaseId} description={metaDescription}>
      {loading && <div>Loading...</div>}
      {error && <div>Error: {error.message}</div>}
      {!loading && !error && (
        <>
          <BannerTitle
            title={title}
            subtitle={subtitle}
            image={bannerImage?.sourceUrl}
            width={bannerImage?.mediaDetails?.width}
            height={bannerImage?.mediaDetails?.height}
          />
          <div class="main-body content">
            <div set:html={updatedContent}></div>
          </div>
        </>
      )}
    </Layout>
  </body>
</html>
