---

const editorUrl = 'someurl';


const editPostUrl = Astro.props?.postId
  ? `${editorUrl}post.php?post=${Astro.props.postId}&action=edit`
  : null;

const editPageUrl = Astro.props?.pageId
  ? `${editorUrl}post.php?post=${Astro.props.pageId}&action=edit`
  : null;

const editTemplateUrl = Astro.props?.templateId
  ? `${editorUrl}post.php?post=${Astro.props.templateId}&action=edit`
  : null;

const contactFormUrl = null; // Customize this URL as needed
const editMenuUrl = `${editorUrl}nav-menus.php`;
const regenerateUrl = `${editorUrl}admin.php?page=custom_webhook`;
---


<div class="z-10 bg-gray-500 admin-menu">
    <ul class="sticky top-0 left-0 right-0 flex pl-2 text-sm list-none">
        <li>
        <a href={editorUrl} target="_blank" rel="noreferrer">
            <i class="icon-[mdi--view-dashboard] text-lg mr-1" title="Dashboard"></i>
            <span class="hidden md:inline-block">Dashboard</span>
        </a>
        </li>
        {editPostUrl && (
        <li>
            <a href={editPostUrl} target="_blank" rel="noreferrer">
            <i class="icon-[mdi--post-it-note-edit] text-lg mr-1" title="Edit Post"></i>
            <span class="hidden md:inline-block">Edit Post</span>
            </a>
        </li>
        )}
        {editPageUrl && (
        <li>
            <a href={editPageUrl} target="_blank" rel="noreferrer">
            <i class="icon-[mdi--post-it-note-edit] text-lg mr-1" title="Edit Page"></i>
            <span class="hidden md:inline-block">Edit Page</span>
            </a>
        </li>
        )}
        {editTemplateUrl && (
        <li>
            <a href={editTemplateUrl} target="_blank" rel="noreferrer">
            <i class="icon-[mdi--post-it-note-edit] text-lg mr-1" title="Edit Template"></i>
            <span class="hidden md:inline-block">Edit Template</span>
            </a>
        </li>
        )}
        {contactFormUrl && (
        <li>
            <a href={contactFormUrl} target="_blank" rel="noreferrer">
            <i class="icon-[mdi--email-edit] text-lg mr-1" title="Contact Form"></i>
            <span class="hidden md:inline-block">Contact Submissions</span>
            </a>
        </li>
        )}
        <li>
        <a href={editMenuUrl} target="_blank" rel="noreferrer">
            <i class="icon-[mdi--menu-open] text-lg mr-1" title="Edit Menu"></i>
            <span class="hidden md:inline-block">Edit Menus</span>
        </a>
        </li>
        <li>
        <a href={regenerateUrl} target="_blank" rel="noreferrer">
            <i class="icon-[mdi--publish] text-lg mr-1" title="Regenerate Site"></i>
            <span class="hidden md:inline-block">Regenerate Site</span>
        </a>
        </li>
    </ul>
</div>

