---
import { getImage, Image } from 'astro:assets';
import Breadcrumb from './Breadcrumb.astro';
import { getImages } from '../lib/utils';

const { title, subtitle, image, width, height, crumbs=[] } = Astro.props;

let imageLocal = null;

if (image) {
  imageLocal = await getImages('banners', image);
}

const showBottom = Boolean(imageLocal);

const alt = title;
const widths = [768, 1024, 1440, 2000];
const formats = ['avif', 'webp', 'jpg'];
const sizes = "100vw";
---

{!showBottom && <Breadcrumb crumbs={crumbs} />}
<div class={`banner relative ${imageLocal ? 'banner-image' : 'no-banner-image'}`}>
  {imageLocal && (
    <Image
      src={imageLocal.default}
      widths={widths}
      formats={formats}
      sizes={sizes}
      alt={alt}
      class="object-cover w-full h-full max-h-96"
      decoding="async"
      loading="eager"
    />
  )}
  <div class={`banner-text flex flex-col items-center justify-center inset-0 ${imageLocal ? 'absolute' : ''}`}>
    <h1 class="text-2xl text-center md:text-4xl">{title}</h1>
    {subtitle && <h2 class="text-lg text-center md:text-xl">{subtitle}</h2>}
  </div>
</div>
{showBottom && <Breadcrumb crumbs={crumbs} />}