---
import { Image } from 'astro:assets';
import { localFileName } from '../lib/utils';

const { title, subtitle, image, width, height } = Astro.props;

let imageLocal = '';

if (image) {
  const images = import.meta.glob('../../assets/images/banners/*.{jpg,jpeg,png,webp,avif}');
  const imageName = localFileName(image);
  const imagePath = `../../assets/images/banners/${imageName}`;

  if (images[imagePath]) {
    const imageModule = await images[imagePath]();
    imageLocal = imageModule.default;
  }
}

const alt = title;

// Define the widths for responsive images
const widths = [768, 1024, 1440, 2000];

// Define the formats to generate (e.g., webp, avif, jpg)
const formats = ['avif', 'webp', 'jpg'];

// Define the sizes attribute to make the image full width of the viewport
const sizes = "100vw"; // This ensures the image takes up 100% of the viewport width
---

<div class={`banner relative ${imageLocal ? 'banner-image' : 'no-banner-image'}`}>
  {imageLocal && (
    <Image
      src={imageLocal}
      widths={widths}
      formats={formats}
      sizes={sizes}
      alt={alt}
      class="object-cover w-full h-full"
      width={width}
      decoding="async"
      height={height}
    />
  )}
  <div class={`banner-text flex flex-col items-center justify-center inset-0 ${imageLocal ? 'absolute' : ''}`}>
    <h1 class="text-2xl text-center md:text-4xl">{title}</h1>
    {subtitle && <h2 class="text-lg text-center md:text-xl">{subtitle}</h2>}
  </div>
</div>