---
import Logo from './Logo.astro';
import Navigation from './Navigation.astro';
import MenuTottgle from './MenuToggle.astro';

const { siteTitle, logoUrl, logoWidth, logoHeight, mobileLogoUrl, mobileLogoWidth, mobileLogoHeight, hideToggle } = Astro.props;
const classList = 'main-menu-wrapper ' + (hideToggle ? 'flex' : 'hidden sm:flex');

---
<div class="logo-wrapper logo-menu">
    {!hideToggle && <MenuTottgle />}
    <Logo
        logoSourceUrl={logoUrl}
        mobileLogoSourceUrl={mobileLogoUrl}
        logoWidth={logoWidth}
        logoHeight={logoHeight}
        mobileWidth={mobileLogoWidth}
        mobileHeight={mobileLogoHeight}
        siteTitle={siteTitle}
    />
    <nav id="main-nav" class={classList}>
        <Navigation class="p-0 main-menu" />
    </nav>
</div>
