---
import { Image } from 'astro:assets';
import { localImage } from '../lib/utils';
const { post, isLast, path } = Astro.props;

const {
  title,
  excerpt,
  slug,
  featuredImage
} = post;

const imageUrl = featuredImage?.node?.sourceUrl;
let imageLocal = '';
if (imageUrl) {
    imageLocal = localImage(imageUrl, 'featured');
}
const altText = featuredImage?.node?.altText || title;
const imageWidth = featuredImage?.node?.mediaDetails?.width || 150;
const imageHeight = featuredImage?.node?.mediaDetails?.height || 150;
---

<div key={post.databaseId} class="flex pb-4 mb-4 border-b-2 last:border-none blog-post">
  {imageUrl && (
    <div>
      <a href=`/${path}/${slug}`>
        <Image
          src={imageLocal}
          alt={altText}
          width=100
          height=100
          class="mr-6"
        />
      </a>
    </div>
  )}
  <div class="pt-3">
    <div class="text-lg font-semibold post-title"><a href=`/${path}/${slug}` class="no-link">{title}</a></div>
    <div class="post-excerpt" set:html={excerpt} />
    <div class="post-read-more">
      <a href=`/${path}/${slug}` class="read-more">Read More</a>
    </div>
  </div>
</div>
