---
import client from '../lib/apolloClient';
import { GET_MENU_ITEMS_BY_LOCATION } from '../lib/queries';

const { classes } = Astro.props;

const { data } = await client.query({
  query: GET_MENU_ITEMS_BY_LOCATION,
  variables: { location: 'SOCIAL' },
});

const menuItems = data?.menuItems?.nodes || [];
const menuItemsFormatted = menuItems.map((menuItem) => {
  const label = menuItem.label;
  const url = menuItem.url;
  if (menuItem.cssClasses.length === 0) {
    menuItem.cssClasses = menuItem.cssClasses.split(' ');
  }

  let menuClasses = menuItem.cssClasses.join(' ');
  menuClasses = menuClasses.replace('icon-', 'icon-[') + ']';
  return { label, url, menuClasses };
});

---

<nav>
  <ul class=`list-none social-menu ${classes}`>
    { menuItemsFormatted.map((menuItem) => (
      <li key={menuItem.id}>
        <a href={menuItem.url} target="_blank" rel="noopener noreferrer">
          <i class={`icon ${menuItem.menuClasses}`} aria-hidden="true"></i>
          <span class="sr-only">{menuItem.label}</span>
        </a>
      </li>
    )) }
  </ul>
</nav>
