---
import '../styles/style.scss';

import Seo from '../components/Seo.astro';
import AdminMenu from '../components/AdminMenu.astro';
import HeaderSite from '../componentsSite/HeaderSite.astro';
import FooterSite from '../componentsSite/FooterSite.astro';
import Analytics from '../components/Analytics.astro';
import SiteTitle from '../components/SiteTitle.astro';

const { pageId, postId, galleryId, tagId, categoryId, templateId, classes, title, description } = Astro.props;
const classList = (classes || '') + ' ' + (pageId ? `page-${pageId}` : '') + (postId ? ` post-${postId}` : '') + (templateId ? ` template-${templateId}` : '');

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Seo title={title} description={description} />
  </head>
  <body>
    <AdminMenu pageId={pageId} postId={postId} tagId={tagId} categoryId={categoryId} templateId={templateId} galleryId={galleryId} />
    <div class="site-container">
      <HeaderSite />
      <main class={classList.trim()}>
        <slot />
      </main>
    </div>
    <footer>
      <FooterSite />
      <div class="copyright">
        Copyright &copy; {new Date().getFullYear()} <SiteTitle /> all rights reserved
      </div>
    </footer>
    <Analytics />
  </body>
</html>
