---
import '../styles/global.scss';

import Seo from '../components/Seo.astro';
import AdminMenu from '../components/AdminMenu.astro';
import Headers from '../components/Headers.astro';
import FooterSite from '../components/FooterSite.astro';
import Analytics from '../components/Analytics.astro';
import SiteTitle from '../components/SiteTitle.astro';

const { pageId, postId, galleryId, templateId, classes, title, description } = Astro.props;
const classList = (classes || '') + ' ' + (pageId ? `page-${pageId}` : '') + (postId ? ` post-${postId}` : '') + (templateId ? ` template-${templateId}` : '');

---

<!DOCTYPE html>
  <html lang="en">
  <Seo title={title} description={description} />
  <body>
    <AdminMenu pageId={pageId} postId={postId} templateId={templateId} galleryId={galleryId} />
    <Headers />
    <main class={classList.trim()}>
      <slot />
    </main>
    <footer>
      <FooterSite />
      <div class="copyright">
        Copyright &copy; {new Date().getFullYear()} <SiteTitle /> all rights reserved
      </div>
    </footer>
    <Analytics />
  </body>
</html>
