---
const { title, description, children } = Astro.props;
import '../styles/global.scss';

import Seo from '../components/Seo.astro';
import AdminMenu from '../components/AdminMenu.astro';
import Headers from '../components/Headers.astro';
import FooterSite from '../components/FooterSite.astro';
import SiteTitle from '../components/SiteTitle.astro';

const { pageId, postId, templateId } = Astro.props;

---

<!DOCTYPE html>
  <html lang="en">
  <Seo title={title} description={description} />
  <body>
    <AdminMenu pageId={pageId} postId={postId} templateId={templateId} />
    <Headers />
    <main>
      <slot />
    </main>
    <footer class="mt-6">
      <FooterSite />
    </footer>
    <div class="copyright">
      Copyright &copy; {new Date().getFullYear()} <SiteTitle /> all rights reserved
    </div>
  </body>
</html>